.Modal {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  left: 15%;
  max-height: 60%;
  overflow: auto;
  padding: 16px;
  position: fixed;
  top: 30%;
  transition: all 0.3s ease-out;
  width: 70%;
  z-index: 500;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
