.Send {
    text-align: center;
    margin-top: 10%;
    border: 2px solid black;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 8px;
}

.Send input {
    display: block;
    margin: auto;
    text-align: center;
    height: 30px;
    width: 400px;
    margin-bottom: 22px;
    font-size: 20px;
}

.Send button {
    width: 150px;
    font-size: 16px;
    padding: 16px;
    background: rgb(199, 181, 80);
    color: white;
    font-weight: bold;
    border: 0;
}

.Send button:hover {
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.Search {
    margin-top: 8%;
    margin-left: 30%;
    width: 39.5%;
}

.Recieve {
    margin-top: 5px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    height: 200px;
    overflow: auto;
    border: 1px solid grey;
}

.Recieve div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.Recieve div p {
    display: inline-block;
    background: yellow;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 450px;
    text-align: left;
}

.Agree {
    color: green;
    background: white;
    border: 0;
    font-weight: bold;
}

.Reject {
    color: red;
    background: white;
    border: 0;
    font-weight: bold;
}

.Agree:hover,
.Reject:hover {
    cursor: pointer;
}

.Logout button {
    padding: 5px 16px;
    background: purple;
}

@media (max-width: 365px) {
    .Send {
        margin-top: 30%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .Send input {
        width: 300px;
    }

    .Search {
        margin-top: 25%;
        margin-left: 5%;
        width: 89%;
    }

    .Recieve {
        margin-left: 5%;
        margin-right: 5%;
    }

    .Recieve div p {
        width: 200px;
    }
}
