.Game {
  text-align: center;
  box-sizing: border-box;
}

.Board {
  box-sizing: border-box;
  width: 30%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 80px;
}

.Box {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 32%;
  border: 1px solid black;
  margin: 1px 1px;
  font-size: 70px;
}

.Row {
  margin: auto;
  text-align: center;
}

.Status {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  padding: 8px 50px;
  border: 1px solid gray;
  box-shadow: 2px 2px gray;
}

@media (max-width: 365px) {
  .Board {
    margin-top: 25%;
    width: 80%;
  }

  .Box {
    height: 92px;
    font-size: 64px;
  }
}
