.Parent {
    width: 100%;
    height: 100%;
    /*padding-top: 200px;*/
    box-sizing: border-box;
    border: 1px solid white;
}

.Form {
    box-sizing: border-box;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 30%;
    padding: 32px 16px;
    box-shadow: 1px 1px 1px 1px gray;
}

.Elements {
    box-sizing: border-box;
    margin-bottom: 16px;
}

.Input {
    width: 100%;
    height: 27px;
    box-sizing: border-box;
}

.Toggle {
    box-sizing: border-box;
    margin-left: 25px;
    color: blue;
    vertical-align: middle;
}

.Submit {
    font-size: 18px;
    box-sizing: border-box;
    color: green;
    vertical-align: middle;
    font-weight: bold;
    border: 0;
    background: white;
}

.Toggle:hover,
.Submit:hover {
    cursor: pointer;
}

.Labels {
    margin-top: 0;
    margin-bottom: 0px;
}

@media (max-width: 365px) {
    .Form {
        width: 95%;
    }
}
